<div id="container"> 
  <div id="logo">
    <img src="/assets/Logo.png" width="170" height="55" class="imagemLogo">
  </div>
  <div id="container-formulario">
    <form name="formularioLogin">
      <legend>Register</legend>
      <br>
      <h2>Account Data</h2>
      <br> <br>
      <div class="inputBox">
          <input type="text" name="nickname" id="nickname" class="inputLogin" required autocomplete="off" placeholder="Nickname">
      </div>
      <br> <br>
      <div class="inputBox">
        <input type="text" name="firstName" id="firstName" class="inputLogin" required autocomplete="off" placeholder="First Name">
      </div>
      <br> <br>
      <div class="inputBox">
        <input type="text" name="lastName" id="lastName" class="inputLogin" required autocomplete="off" placeholder="Last Name">
      </div>
      <br> <br>
      <div class="inputBox">
        <input type="email" name="email" id="email" class="inputLogin" required autocomplete="off" placeholder="E-Mail">
      </div>
      <br> <br>
      <div class="inputBox">
        <input type="number" name="contact" id="contact" class="inputLogin" required autocomplete="off" placeholder="Contact">
      </div>
      <br> <br>
      <div class="inputBox">
        <input type="{{typePassword}}" name="password" id="pasword" class="inputLogin" required autocomplete="off" placeholder="Password">
       <div class="olho" mat-icon matSuffix (click)="verSenha()"></div>
      </div>
      <br> <br>
      <button id="submit" type="submit" (click)="mudarRota()">Continue</button>
      <br> <br>
      <a id="botao-register" routerLink="/login">Login ></a>
    </form>
  </div>
</div>